#menu-child {
	border:1px solid #F5F5F5;
}

.menu-child li {
	display: block;
	float: left;
	margin-right: 2px;
	border-bottom: 5px solid #DDD;
}

.input {
	padding: 10px;
	border: 1px solid #DDD;
	margin: 4px;
	width: 100%;
}

.menu-child li:hover {
	border-bottom: 5px solid #919191;
}

.mac-menu li {
	margin: 5px;
}

#mac {
	padding: 30px;
	background-color: #F1FCA9;
	border: 1px dashed #DDD;
}

#small {
	font-size: 11.5px;
	color: #FC2626;
}

.menu-child li a:link {
	display: block;
	padding: 10px;
	color:#000;
	text-decoration: none;
}

.menu-child li a:visited {
	display: block;
	padding: 10px;
	color:#000;
	text-decoration: none;
}

#menu-cont {
	padding: 10px;
}